<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学IT - 后台管理系统</title>
    <?php include("/views/common/style.html") ?>

</head>
<body>

<!-- 侧边栏 -->
<?php include("/views/common/aside.html") ?>
<!-- 主体 -->
<div class="main">
    <div class="container-fluid">
        <!-- 头部 -->
        <?php include("/views/common/header.html") ?>
        <div class="body course-add" id="cF">
            <!-- 面包屑 -->
            <!-- 1 todo -->
        </div>
    </div>
</div>
<!-- 模态框 添加课程 -->
<div class="modal fade" id="chapterModal">
<!--2 todo-->
</div>
<script type="text/template" id="cI">
    <ol class="breadcrumb">
        <li><a href="javascript:;">课程管理</a></li>
        <li class="active">课程修改</li>
    </ol>
    <div class="steps">
        <!-- 摘要 -->
        <div class="brief">
            <div class="thumb">
                {{if cs_cover}}
                <img src="{{cs_cover}}"/>
                {{/if}}
            </div>
            <dl class="info">
                <dt>{{cs_name}}</dt>
                <dd>讲师：{{tc_name}}</dd>
            </dl>
        </div>
        <!-- 步聚 -->
        <ul class="forwards list-unstyled">
            <li>
                <a href="course_add_step1?cs_id={{cs_id}}" class="done">
                    <b class="fa fa-check"></b>
                    基本信息
                </a>
            </li>
            <li>
                <a href="course_add_step2?cs_id={{cs_id}}" class="done">
                    <b class="fa fa-check"></b>
                    课程图片
                </a>
            </li>
            <li>
                <a href="course_add_step3?cs_id={{cs_id}}" class="active">
                    <b>3</b>
                    课时管理
                </a>
            </li>
        </ul>
        <!-- 课时管理 -->
        <div class="content">
            <!-- 标题 -->
            <div class="title">
                <h5>课时管理
                    <small>LESSON MANAGE</small>
                </h5>
                <input type="button" class="btn btn-success btn-sm pull-right" value="+chapter" id="cA"/>
            </div>
            <div class="lessons">
                <ul class="list-unstyled">
                    {{each lessons}}
                    <li>
                        <i class="fa fa-file-video-o"></i>
                        <span class="order">chapter：{{$value.ct_id}}</span>
                        <span class="name">{{$value.ct_name}}</span>
                        <span class="duration">{{$value.ct_video_duration}}</span>
                        <!-- 操作 -->
                        <div class="action pull-right">
                            <input type="button" data-ct="{{$value.ct_id}}" class="btn btn-info btn-xs up" value="upload"/>
                        </div>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>
</script>
<script type="text/template" id="dI">
    <div class="modal-dialog" style="width: 800px;background-color: whitesmoke">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Chapter-Information-{{title}}</h4>
        </div>
        <div class="modal-body">
            <form id="chapterForm" class="form-horizontal">
                <div class="form-group">
                    <label for="" class="col-xs-2 control-label">lesson</label>

                    <div class="col-xs-6">
                        <input type="text" class="form-control input-sm" name="ct_name" value="{{ ct_name }}">
                    </div>
                    <div class="col-xs-2">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="ct_is_free" value="0" class="is_free" {{if ct_is_free == 0 }}checked{{/if}}>free
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-xs-2 control-label">brief</label>

                    <div class="col-xs-8">
                        <textarea rows="5" class="form-control input-sm" name="ct_brief">{{ ct_brief }}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-xs-2 control-label">video</label>

                    <div class="col-xs-8">
                        <div class="input-group">
                            <input type="text" class="form-control input-sm" name="ct_video" value="{{ ct_video }}"
                                   placeholder="youku、tudou、qq、163">
                            <span class="input-group-btn">
                                <button class="btn btn-success btn-sm">upload</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group form-inline">
                    <label for="" class="col-xs-2 control-label">time</label>

                    <div class="col-xs-8">
                        <input type="text" class="form-control input-sm small" name="ct_minutes"
                               value="{{ ct_minutes }}">
                        minutes
                        <input type="text" class="form-control input-sm small" name="ct_seconds"
                               value="{{ ct_seconds }}">
                        seconds
                        <p class="help-block">must int</p>
                    </div>
                </div>
                <div class="form-group form-inline">
                    <label for="" class="col-xs-2 control-label">recommend</label>

                    <div class="col-xs-8">
                        <input type="text" class="form-control input-sm small" name="ct_recommend_duration"
                               value="{{ ct_recommend_duration }}">
                        hours
                        <p class="help-block">（default:3 times of video length）</p>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-info btn-sm" data-dismiss="modal">cancel</button>
            <button type="submit" id="done" class="btn btn-success btn-sm">{{title}}</button>
        </div>
    </div>
</script>
<?php include("/views/common/script.html") ?>
<script type="text/javascript">
    require(["cAS3"]);
</script>
</body>
</html>